/* css variable */
:root {
  --dark-blue: #011F26;
  --steel: lightsteelblue;
  --ocean: #01403A;
  --green: #a0dd48;
  --orange: #f77824;
  --yellow: #F2B705;
  --gold: #F29F05;
  --silver: #7e8e8b;
  --font-size: 1.3rem;
  --Neucha: 'Neucha', cursive;
  --Teko: 'Teko', sans-serif;
  --Ubuntu: 'Ubuntu Condensed', sans-serif;
  --Zeyada: 'Zeyada', cursive;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  padding: 0;
  margin: 0;
  font-family: var(--Neucha);
  background-image: linear-gradient(79deg,#01403A,#489723 48%, #011F26);
  text-align: center;
}
main a{
  color: var(--ocean);
}
main a:hover {
  cursor: pointer;
  color: var(--orange);
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}
.hide {
  display: none;
}

/* ---------- */
/* background/DIV colors */
.dark-blue {
  background-color: var(--dark-blue);
}
.steel {
  background-color: var(--steel);
}
.ocean {
  background-color: var(--ocean);
}
.green {
  background-color: var(--green);
}
.orange {
  background-color: var(--orange);
}
.yellow {
  background-color: var(--yellow);
}
.gold {
  background-color: var(--gold);
}
.silver {
  background-color: var(--silver);
}
.gradient {
  background: rgb(126,142,139);
  background: linear-gradient(119deg, rgba(126,142,139,1) 0%, rgba(247,120,36,1) 100%);
  height: 2px;
  padding: 0;
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
