section {
    color: ocean;
}
.ylw-square {
    background-color: var(--yellow);
    width: 3rem;
    height: 3rem;
    border: 1px solid green;
    padding: 1px;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
}
.gld-square {
    background-color: var(--gold);
    width: 3rem;
    height: 3rem;
    border: 1px solid green;
    padding: 1px;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
}
.board {
    align-content: center;
    margin: 0 auto;
}
.rank {
    border-left:2px solid orange;
    border-right:2px solid orange;
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}

#white {
    color: white;
}
#black {
    color: black;
}